<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="cust" assembly="CustomField" namespace="CustomField"/>
      </controls>
    </pages>
      
    <anonymousIdentification enabled="true" />
      <profile>
         <properties>
          <add name="Info" 
            type="System.String" 
            allowAnonymous="true" />
          </properties>
       </profile>
    </system.web>

</configuration>
